#dm-head {
  font-size: 20pt;
  position: fixed;
  background-color: purple;
  top: 0%;
  left: 0%;
  right: 0%;
  margin-left: 30px;
  margin-top: -40px;
  z-index: 9;
}

#dm-type {
  font-family: sans-serif;
  color: white;
  padding-top: 50px;
  font-size: 13pt;
  padding-left: 10px;
  height: 30px;
  width: 180px;
  position: fixed;
  z-index: 9;
}

#dm-main {
  position: absolute;
  background-color: white;
  color: black;
  margin-top: 40px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  z-index: 9;
  font-size: 15pt;
  overflow-wrap: normal;
}

#dm-adder {
  background-color: white;
  position: fixed;
  bottom: 0%;
  height: 60px;
  width: 100%;
  left: 0%;
  right: 0%;
  z-index: 10;
  margin-bottom: 36px;
}

#add-dm {
  padding-left: 10px;
  width: 82%;
  margin-left: 1%;
}

#dm-button {
  border-radius: 1px;
  position: fixed;
  bottom: 0%;
  height: 36px;
  right: 1%;
  z-index: 10;
  margin-bottom: 60px;
}